/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 37%, 67%);
}

h1{
  font-family: 'Courier New', Courier, monospace;
}
/* Style for the calculator container */
.calculator {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease; 
}


.display {
  width: calc(100% - 40px);
  height: 60px;
  font-size: 28px;
  text-align: right;
  margin-bottom: 20px;
}

/* Style for the grid of buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Style for buttons */
button {
  width: 100%;
  height: 80px; /* Increased button height */
  font-size: 28px; /* Increased font size */
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Hover effect for buttons */
button:hover {
  background-color: #ddd;
}

/* Style for the zero button */
.number.zero {
  grid-column: span 2; /* Make zero button wider */
}

/* Style for operator buttons */
.operator {
  background-color: #FFA500; /* Change background color for operators */
}

/* Style for equal button */
.equal {
  background-color: #008000; /* Change background color for equal button */
  color: #fff; /* Change text color for equal button */
}
